.shiftPaper {
    /* background-color: lightslategray !important; */
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconDiv{
    display:flex;
}

.textDiv {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tooltip {
    width: 70px;
}