.body {
  display: flex;
  width: 900;
  height: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginDiv {
    flex-shrink: 1;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: 13%;
}

